extends ./layout

block stylesheets
  link(rel="stylesheet" type="text/css" href="/css/embedded.css")

block content
  #center-box
    .vertical-center
      h2 Auth0 | Embedded Login
      if signup
        p Sign up successful. Login to proceed.
      form#login-form
        input#email.field(type="text" placeholder="Enter email address")
        input#pwd.field(type="password" placeholder="Enter password")
        button.btn(type="submit") Login
      a.link(href="/embedded/signup") Don't have an account? Sign up here.

block scripts
  script(src="/jquery/jquery.min.js")
  script(src="/auth0/auth0.min.js")
  script.
    const DOMAIN = '#{env.DOMAIN}'
    const CLIENT_ID = '#{env.CLIENT_ID}'
    const SCOPE = '#{env.SCOPE}'
    const REALM = '#{env.REALM}'
    const LOGIN_REDIRECT_URI = '#{env.LOGIN_REDIRECT_URI}'
    const LOGIN_RESPONSE_TYPE = '#{env.LOGIN_RESPONSE_TYPE}'
  script(src="/js/auth-srvc.js")
  script(src="/js/login.js")